In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

In [1]:
2+3

[1] 5

In [2]:
2%%3

[1] 2

In [3]:
9%/%2

[1] 4

In [4]:
x=c(1,4,5,6,7,4)
mean(x)

[1] 4.5

In [5]:
x=c(1,4,5,6,7,4)
mode(x)

[1] "numeric"

In [7]:
x=c(1,4,5,6,7,4)
median(x)
mean(x)

[1] 4.5

[1] 4.5

In [8]:
var(x)

[1] 4.3

In [9]:
sd(x)

[1] 2.073644

In [13]:
x <- 12L
x
class(x)
typeof(x)
length(x)
attributes(x)

[1] 12

[1] "integer"

[1] "integer"

[1] 1

NULL

In [19]:
vector()

logical(0)

In [21]:
character(5)

[1] "" "" "" "" ""

In [24]:
y <-c(12,13,45,76)
y
class(y)
length(y)
typeof(y)
attributes(y)

[1] 12 13 45 76

[1] "numeric"

[1] 4

[1] "double"

NULL

In [27]:
sum_of_square <- function(x,y)
    x^2 + y^3

sum_of_square(2,5)

[1] 129

In [28]:
a <- 1:10
a

 [1]  1  2  3  4  5  6  7  8  9 10

In [29]:
seq(a)

 [1]  1  2  3  4  5  6  7  8  9 10

In [32]:
seq(from = 1,to = 10, by = 0.2)

 [1]  1.0  1.2  1.4  1.6  1.8  2.0  2.2  2.4  2.6  2.8  3.0  3.2  3.4  3.6  3.8
[16]  4.0  4.2  4.4  4.6  4.8  5.0  5.2  5.4  5.6  5.8  6.0  6.2  6.4  6.6  6.8
[31]  7.0  7.2  7.4  7.6  7.8  8.0  8.2  8.4  8.6  8.8  9.0  9.2  9.4  9.6  9.8
[46] 10.0

In [33]:
as.numeric('12')+2

[1] 14

In [36]:
as.character(12)

[1] "12"

In [37]:
n <- matrix(nrow = 3, ncol = 3)
n

     [,1] [,2] [,3]
[1,] NA   NA   NA
[2,] NA   NA   NA
[3,] NA   NA   NA

In [39]:
dim(n)

[1] 3 3

In [40]:
class(n)

[1] "matrix"

In [41]:
typeof(n)

[1] "logical"

In [44]:
my_name <-readline(prompt="enter name: ")
my_age <- readline(prompt="enter age:")
my_age <- as.integer(my_age)

enter name: nikhil
enter age:121